<div class="border-bottom row" style="margin-bottom:16xpx;padding-bottom:8px;">
<div class="col-9">
  <h4 style="color:rgb(120,120,120);margin-bottom:4px">{{job['title']}}</h4>

   <div>
     <b>Location:</b>{{job['location']}}
   </div>
   <!-- if condition -->
   {%if 'salary' in job%}
   <div>
       <b>Salary:</b>{{job['salary']}}
   </div>
   {%endif%}
  </div>
  <div class="col-3">
    <a href="mailto:fatehsingh07462@gmail.com?subject=hello%20sir%20i%20want%20to%20apply%20for%20this%20job&body=kjfskld%20fjsdkfjlskdjfl%20jsd%20fjlksjdflj%20sdlkj%20fd" type="button" class="btn btn-outline-primary">Apply</a> 
  </div>
   <!-- ending if condition -->
 </div>
 